nav2 {
    display: flex;
    gap: 5em;
}

.inpatient-management-container{
    display: flex;
    justify-content: space-between;
}

/* Scroll Box Styling */
.scrollBoxContainer {
    display: inline-block;
    width: auto;
    height: 80vh;
}

/* CSS for the scroll box */
#scrollBox {
    overflow: auto;
    height: 90%;
}

/* CSS for the table */
#databaseItems {
    border-collapse: collapse;
    table-layout: auto;
}

/* CSS for the table rows */
#databaseItems tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 5vh;
    font-size: 100%;
}

/* CSS for the leftmost and rightmost table cells */
#databaseItems td:first-child, #databaseItems th:first-child {
    border-left: 1px solid black;
}
#databaseItems td:last-child, #databaseItems th:last-child {
    border-right: 1px solid black;
}

#databaseItems th, #databaseItems td {
    text-align: center;
}

/* CSS for the sticky header */
#databaseItems th {
    position: sticky;
    top: 0;
    background: white;  /* Change this to match your table's background color */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h3 {
    text-align: center;
}

#databaseItems th:before {
content: '';
position: absolute;
left: 0;
width: 100%;
top: -1px;
border-top: 1px solid black;
}

#databaseItems th:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    border-bottom: 1px solid black;
}

/* Filters styling */
.filters-container {
    width: 40%;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1em;
}